.emailButton {
  border: 2px solid black;
  background: none;
  padding: 1rem 2rem;
  border-radius: 100px;
  font-size: 1.5rem;
  color: whitesmoke;
  font-family: "Verdana", sans-serif;
  vertical-align: middle;
  margin-right: 60px;
  cursor: pointer;
  color: red;
}

.emailButton:hover {
  background-color: black;
}

.box5:hover {
  border: 2px solid whitesmoke;
  background: none;
}

.box {
  height: 130px;
  width: 200px;
  padding: 1rem 2rem;
  border-radius: 50px;
}

.box2 {
  height: 400px;
  width: 400px;
  padding: 1rem 2rem;
  border-radius: 25px;
}

.box3,
.box4 {
  height: 350px;
  width: 400px;
  padding: 1rem 2rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.box5 {
  height: 150px;
  width: 200px;
  padding: 1rem 2rem;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  position: left;
  border: 2px solid whitesmoke;
  margin-top: 20px;
  background-color: gray;
  opacity: 0.8;
}

.box6 {
  height: 350px;
  width: 100%;
  margin-top: 100px;
  background: light black;
  border-top: 2px solid whitesmoke;
}

.box7 {
  height: 70px;
  width: 500px;
  border: 1px solid whitesmoke;
  margin-top: 20px;
  background: light black;
  text-align: left;
  padding-left: 10px;
}

.repo {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border: 2px solid black;
  border-radius: 100px;
  background: none;
  padding: 1rem 2rem;
}

.repo:hover {
  background-color: whitesmoke;
  opacity: 0.5;
}

.container,
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
}

.container2 {
  margin-top: 50px;
}

.container3 {
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.container4 {
  justify-content: center;
  margin-left: 100px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}

.container-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.sinfoHeader,
.sinfo {
  font-family: "Verdana", sans-serif;
  display: center flex;
}

.sinfoHeader {
  font-size: 18px;
  color: orange;
}

.sinfo {
  font-size: 13px;
  color: whitesmoke;
  letter-spacing: 0.5px;
}

.projectsHeader {
  font-family: "Verdana", sans-serif;
  color: whitesmoke;
  font-size: calc(40px + 2vmin);
}

.projects1 {
  color: whitesmoke;
  margin-top: 600px;
}

.projects2 {
  color: whitesmoke;
  margin-top: 50px;
}

.websiteName {
  margin-top: 20px;
  font-family: "Verdana", sans-serif;
  color: whitesmoke;
  font-size: calc(15px + 2vmin);
}

.quickFind {
  font-family: "Verdana", sans-serif;
  color: whitesmoke;
  font-size: 15px;
  word-spacing: 10px;
  letter-spacing: 0.5px;
}

.final {
  font-family: "Verdana", sans-serif;
  color: whitesmoke;
  font-size: calc(40px + 2vmin);
  word-spacing: 10px;
  letter-spacing: 0.5px;
  margin-top: 150px;
}

.informationBoxes {
  font-family: "Verdana", sans-serif;
  color: whitesmoke;
  font-size: 15px;
  word-spacing: 5px;
  letter-spacing: 0.5px;
}

.contactButtons {
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  border: none;
  color: orange;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: orange;
}

.message {
  border: 1px solid whitesmoke;
}

.inputs {
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 30px;
  background: none;
  border-radius: 5px;
  color: whitesmoke;
  letter-spacing: 0.5px;
  font-family: "Verdana", sans-serif;
  font-size: 14px; /* Adjust the font size as needed */
  padding: 10px; /* Adjust the padding as needed */
  box-sizing: border-box;
}

.emailButton {
  margin-top: 30px;
  margin-left: 50px;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  box-sizing: border-box;
  max-height: 500px;
  margin-top: 120px;
}

.bottomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
  width: 100%;
}
